<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_admin_project_path(@project) %> |
  <%= link_to "Back to projects", admin_projects_path %>

  <%= button_to "Destroy this project", [:admin, @project], method: :delete %>
</div>
